@model SubscribeViewModel
@{
    ViewData["Title"] = $"{Model.Channel.Guild.Name} - Subscribe #{Model.Channel.Name} to Feed";
}

<h1>@Model.Channel.Guild.Name</h1>
<h2>Subscribe #@Model.Channel.Name  to Feed</h2>

<p><strong>NOTE: It can take up to @Constants.TimeBetweenUpdatesInMinutes @(Constants.TimeBetweenUpdatesInMinutes == 1 ? "minute" : "minutes") for a subscription to go live.</strong></p>

<form method="post">
    <div class="form-group">
        <label asp-for="SourceId"></label>
        @Html.DropDownList("SourceId", new SelectList(Model.Sources.OrderBy(e => e.Name), "Id", "Name"), "", new { @class = "form-control" })
        <span asp-validation-for="SourceId" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>