$color: #b9babc;
$bg-color: #36393e;
$heading-color: #fff;
$link-color: #00a6ff;
$code-color: #839496;
$code-bg-color: #2f3136;
$code-border-color: #282b30;
$danger-color: #f04542;
$nav-bg-color: #202225;
$btn-bg-color: #7289da;
$btn-hover-bg-color: #677bc4;
$btn-active-bg-color: #5b6eae;
$form-bg-color: #484b51;
$placeholder-color: #7e8084;
$small-icon-size: 32px;
$large-icon-size: 96px;
$embed-bg-color: #32363b;
$embed-border-color: #2f3237;

body {
    &.bg-dark {
        background-color: $bg-color !important;
    }

    &.text-white {
        color: $color !important;
        
        hr {
            border-color: $form-bg-color !important;
        }
    }
}

a {
    &:link, &:hover, &:focus, &:active, &:visited {
        color: $link-color;
    }
}

h1, h2 {
    color: $heading-color !important;

    a {
        &:link, &:hover, &:focus, &:active, &:visited {
            color: $heading-color !important;
        }
    }
}

code {
    color: $code-color !important;
    background-color: $code-bg-color !important;
    border: 1px solid $code-border-color !important;
}

table {
    a {
        &:link, &:hover, &:focus, &:active, &:visited {
            color: $color !important;
        }
    }
}

.navbar {
    &.bg-dark {
        background-color: $nav-bg-color !important;
    }
}

.btn {
    &.btn-primary {
        color: $heading-color !important;
        background-color: $btn-bg-color !important;
        border-color: $btn-bg-color !important;
        box-shadow: none !important;
        outline: none !important;

        &:hover, &:focus {
            background-color: $btn-hover-bg-color !important;
            border-color: $btn-hover-bg-color !important;
        }

        &:active {
            background-color: $btn-active-bg-color !important;
            border-color: $btn-active-bg-color !important;
        }
    }

    &.btn-link {
        transition: none !important;
    }
}

.jumbotron {
    color: $color;
    background-color: $embed-bg-color;
    border: 1px solid $embed-border-color;
}

.form-control {
    color: $color !important;
    background-color: $form-bg-color !important;
    border-color: $form-bg-color !important;
    box-shadow: none !important;
    outline: none !important;

    &::-webkit-input-placeholder {
        color: $placeholder-color !important;
    }

    &::-moz-placeholder {
        color: $placeholder-color !important;
    }

    &:-ms-input-placeholder {
        color: $placeholder-color !important;
    }

    &:active, &:focus {
        background-color: $form-bg-color !important;
        border-color: $btn-active-bg-color !important;
    }
}

.text-danger {
    color: $danger-color !important;
}

.table-icons {
    line-height: $small-icon-size;
}

.table-dark {
    background-color: $nav-bg-color !important;

    td
    {
        border-color: $embed-border-color !important;
    }

    &.table-striped {
        tbody tr {
            &:nth-of-type(2n+1) {
                background-color: $embed-bg-color !important;
            }
        }
    }
}

.small-icon {
    background-color: $btn-bg-color;

    width: $small-icon-size;
    height: $small-icon-size;
}

.large-icon {
    background-color: $btn-bg-color;

    width: $large-icon-size;
    height: $large-icon-size;
}

.discord-embed {
    background-color: $embed-bg-color;
    border: 1px solid $embed-border-color;

    .discord-embed-author {
        color: $heading-color;

        a {
            &:link, &:hover, &:focus, &:active, &:visited {
                color: $heading-color;
            }
        }
    }
}