@model Source
@{
    ViewData["Title"] = Model.Name;
}

<h1 class="text-center">@ViewData["Title"]</h1>

<div class="py-2"></div>

<div class="text-center">
    <p><a href="@Model.Url">Website</a></p>
    <p><a href="@Model.FeedUrl">RSS Feed</a></p>
</div>

<div class="py-2"></div>

@if (Model.Embeds != null && Model.Embeds.Count > 0)
{
    <h2>Latest Article</h2>

    @Html.Partial("_EmbedPartial", Model.Embeds.OrderByDescending(e => e.Date).First())
}
