@model List<Guild>
@{
    ViewData["Title"] = "Servers";
}

<h1>@ViewData["Title"]</h1>

@if (Model == null || Model.Count <= 0)
{
    <p>You are not a member of any servers.</p>
}
else
{
    <table class="table table-striped">
        <tbody>
            @foreach (var guild in Model.OrderBy(e => e.Name))
            {
                <tr>
                    <td scope="row">
                        <a asp-area="" asp-controller="Guild" asp-action="Inspect" asp-route-id="@guild.Id">
                            @if (guild.IconUrl != null)
                            {
                                <img src="@guild.IconUrl" width="32" height="32" alt="" class="rounded-circle" />
                            }
                            else
                            {
                                <img src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAMAAAAoyzS7AAAAA1BMVEVyidp8SJksAAAACklEQVQI12NgAAAAAgAB4iG8MwAAAABJRU5ErkJggg==" width="32" height="32" alt="" class="rounded-circle" />
                            }
                            @guild.Name
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    
}