@model List<Guild>
@{
    ViewData["Title"] = "Servers";
}

<h1>@ViewData["Title"]</h1>

@if (Model.Count <= 0)
{
    <p>You are not a member of any servers.</p>
}
else
{
    @foreach (var guild in Model.OrderBy(e => e.Name))
    {
        <a asp-area="" asp-controller="Guild" asp-action="Inspect" asp-route-id="@guild.Id"><img src="@guild.IconUrl" alt="@guild.Name" class="rounded-circle" /></a>
    }
}