@model List<Guild>
@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

@foreach (var guild in Model.OrderBy(e => e.Name))
{
<a asp-area="" asp-controller="Guild" asp-action="Inspect" asp-route-id="@guild.Id"><img src="@guild.IconUrl" alt="@guild.Name" class="rounded-circle" /></a>
}