@inject DiscordUserClient discordUserClient

@if (User.Identity.IsAuthenticated)
{
    var client = await discordUserClient.GetRestClientAsync();
    var user = client.CurrentUser;

    <span class="navbar-text">Logged in as: @user.Username#@user.Discriminator</span>
    <form asp-area="" asp-controller="Account" asp-action="Logout" method="post">
        <ul class="navbar-nav">
            <li class="nav-item">
                <button type="submit" class="btn btn-link nav-link">Logout</button>
            </li>
        </ul>
    </form>

}