@inject DiscordUserClient discordUserClient

@if (User.Identity.IsAuthenticated)
{
    var client = await discordUserClient.GetRestClientAsync();
    var user = client.CurrentUser;

    <span class="text-light"><img src="@user.GetAvatarUrl(ImageFormat.Jpeg, 32)" width="30" height="30" class="rounded-circle d-inline-block align-top" alt="@user.Username" /> @user.Username#@user.Discriminator</span>
}