@model ErrorViewModel
@{
    ViewData["Title"] = "Not Found";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<p class="text-danger">The requested resource was not found.</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code class="rounded p-1">@Model.RequestId</code>
    </p>
}