@model ErrorViewModel
@{
    ViewData["Title"] = "Unauthorized";
}

<h1 class="text-danger">@ViewData["Title"]</h1>
<p class="text-danger">You do not have access to the requested resource.</p>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Request ID:</strong> <code class="rounded p-1">@Model.RequestId</code>
    </p>
}